.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  bottom: 0;
  right: 0;
}

.userInteraction {
  position: absolute;
  right: 8px;
  bottom: 80px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.forwardedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.likesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px;
}

.information {
  border: 1px solid #d3d3d3;
  padding: 14px;
  height: 40px;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.subtitle {
  text-align: center;
  padding-top: 6px;
}

.by {
  color: #c2c2bd;
}

.author {
}

.picture {
  width: 100%;
  --mask: linear-gradient(135deg, #0000 42.43px, #000 0);
  -webkit-mask: var(--mask);
  mask: var(--mask);

  vertical-align: top; /* remove blank space at the bottom of the image */
}

.forwardIcon path {
  fill: white;
}

@media (max-width: 600px) {
  .userInteraction {
    position: static; /* Remove absolute positioning */
    flex-direction: row;
    color: black;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
  }

  .likesContainer {
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    height: auto;
    border-right: 1px solid #d3d3d3;
    flex: 1;
    gap: 6px;
  }

  .forwardedContainer {
    flex: 1;
    flex-direction: row-reverse;
    align-items: center;
    height: auto;
    justify-content: center;
    gap: 6px;
  }

  .forwardIcon path {
    fill: black;
  }
}
