.inputWrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 210px;
  height: 28px;
  background-color: #f2f2f2;
  padding: 0 6px;
  border-radius: 20px;
}

.searchIcon {
  margin-right: 6px;
  transform: scale(1.2);
}

.textInput::placeholder {
  color: #a1a1a1;
}

.textInput {
  border: none;
  color: #a1a1a1;
  background-color: transparent;
  outline: none;
  width: 100%;

  /* typography */
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
